/*
 *  Copyright (C) 2011 - 2014 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 *
 * This software is licensed under the terms of the GNU General Public
 * License version 2, as published by the Free Software Foundation, and
 * may be copied, distributed, and modified under those terms.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
/dts-v1/;
/include/ "zynq-7000.dtsi"
/include/ "zynq-enclustra-zx-common.dtsi"
/include/ "zynq-enclustra-qspi-parts.dtsi"

/ {
	model = "Enclustra Mars ZX2 SOM";

	ptb_1588_0: ptb_1588@43c10000 {
		    clock-names = "s_axi_aclk";
		    clocks = <&clkc 15>;
		    compatible = "xlnx,ptb-1588-18.11";
		    interrupt-names = "ptp_interrupt";
		    interrupt-parent = <&intc>;
		    interrupts = <0 0x25 4>;
		    reg = <0x43c10000 0x10000>;
		    xlnx,edge-type-event-0 = <0x1>;
		    xlnx,edge-type-event-1 = <0x1>;
		    xlnx,edge-type-event-2 = <0x1>;
		    xlnx,edge-type-event-3 = <0x1>;
		    xlnx,enable-alarm-detect = "false";
		    xlnx,enable-event-timestamping = "false";
		    xlnx,fpga-family = <0x0>;
		    xlnx,frame-format = <0x0>;
		    xlnx,interface-speed = <0x0>;
		    xlnx,interface-type = <0x1>;
		    xlnx,num-alarms = <0x1>;
		    xlnx,num-event-timestamping = <0x1>;
		    xlnx,passthrough-mode = "false";
		    xlnx,pulse-width = <0xbebc200>;
		    xlnx,system-freq = <0x5f5e100>;
		    xlnx,timer-internal = <0x1>;
		    xlnx,use-pps-out = "true";
		    xlnx,use-timer-out = "false";
		    xlnx,user-pulse-enable = "false";
		    xlnx,user-pulse-sel = <0x1>;
		    xlnx,user-pulse-width = <0x7d0>;
		    soce,ethernet-ref = &gem1;
		};

	interruptIRQ_DBG_1@0{
		compatible="generic-uio";
		status="okay";
		interrupt-controller;
		interrupt-parent=<0x4>;
		interrupts=<0x0 0x1D 0x4>;
	};
	interruptIRQ_PL_2@1{
		compatible="generic-uio";
		status="okay";
		interrupt-controller;
		interrupt-parent=<0x4>;
		interrupts=<0x0 0x1E 0x4>;
	};
	interruptIRQ_PL_3@2{
		compatible="generic-uio";
		status="okay";
		interrupt-controller;
		interrupt-parent=<0x4>;
		interrupts=<0x0 0x1F 0x4>;
	};
	interruptIRQ_PL_4@3{
		compatible="generic-uio";
		status="okay";
		interrupt-controller;
		interrupt-parent=<0x4>;
		interrupts=<0x0 0x20 0x4>;
	};
	interruptIRQ_PL_5@4{
		compatible="generic-uio";
		status="okay";
		interrupt-controller;
		interrupt-parent=<0x4>;
		interrupts=<0x0 0x21 0x4>;
	};
	interruptIRQ_PL_6@5{
		compatible="generic-uio";
		status="okay";
		interrupt-controller;
		interrupt-parent=<0x4>;
		interrupts=<0x0 0x22 0x4>;
	};
	interruptIRQ_PL_7@6{
		compatible="generic-uio";
		status="okay";
		interrupt-controller;
		interrupt-parent=<0x4>;
		interrupts=<0x0 0x23 0x4>;
	};
	uartlite_0@42C00000 {
		compatible = "xlnx,xps-uartlite-1.00.a";
		reg = <0x42C00000 0x10000>;
		status = "okay";
		interrupts = <0 0x24 4>;
		interrupt-parent = <&intc>;
    		clock = <100000000>;
		xlnx,baudrate = <0x1C200>;
		xlnx,data-bits = <0x8>;
		xlnx,odd-parity = <0x0>;
		xlnx,s-axi-aclk-freq-hz-d = "125.0";
		xlnx,use-parity = <0x0>;
	};
	uartlite_1@42C10000 {
		compatible = "xlnx,xps-uartlite-1.00.a";
		reg = <0x42C10000 0x10000>;
		status = "okay";
		interrupts = <0 0x24 4>;
		interrupt-parent = <&intc>;
    		clock = <100000000>;
		xlnx,baudrate = <0x1C200>;
		xlnx,data-bits = <0x8>;
		xlnx,odd-parity = <0x0>;
		xlnx,s-axi-aclk-freq-hz-d = "125.0";
		xlnx,use-parity = <0x0>;
	};

	uartlite_2@42C20000 {
		compatible = "xlnx,xps-uartlite-1.00.a";
		reg = <0x42C20000 0x10000>;
		status = "okay";
		interrupts = <0 0x24 4>;
		interrupt-parent = <&intc>;
		clock = <100000000>;
		xlnx,baudrate = <0x1C200>;
		xlnx,data-bits = <0x8>;
		xlnx,odd-parity = <0x0>;
		xlnx,s-axi-aclk-freq-hz-d = "125.0";
		xlnx,use-parity = <0x0>;
	};
	uartlite_2@42C30000 {compatible = "xlnx,xps-uartlite-1.00.a";
		reg = <0x42C30000 0x10000>;
		status = "okay";
		interrupts = <0 0x24 4>;
		interrupt-parent = <&intc>;
    	clock = <100000000>;
		xlnx,baudrate = <0x2580>;
		xlnx,data-bits = <0x8>;
		xlnx,odd-parity = <0x0>;
		xlnx,s-axi-aclk-freq-hz-d = "125.0";
		xlnx,use-parity = <0x0>;
	};

	range@80001000{
		name="range";
		reg = <0x80001000 0x10000>;
		compatible="generic-uio";
		status="okay";
	};
	range1@40000000{
		name="range1";
		reg = <0x40000000 0x10000>;
		compatible="generic-uio";
		status="okay";
	};
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&spi0 {
 	is-decoded-cs = <0>;
  	num-cs = <1>;
 	status = "okay";
	spidev@0{
		compatible="spidev";
		reg =<0>; //chipselect 0
		spi-max-frequency= <2000000>;
	};
};
&pcf85063 {
	status = "okay";
};

